@@charset "ISO-8859-1";
.header{
	
	display: flex;
	height: 50px;
	width: 100%;
	background-color: aliceblue;
}



.header-mitte{
	
    text-align: right;
    width: 30%;
    display: inline-block;
    margin-left: 250px;
    margin-top: 10px;
  
}

.header-links{
  display: inline-block;
    width: 10%;
    margin-left: 40px;
    margin-top: 10px;
}

img{
	width:40%;
	margin:10px;
	max-width:55%; 
	max-height:20%; 
	text-align:center; 
}

.mex1{
color:black;
font-weight:normal;

width:90px;
height:25px;
border:solid 0.5px #b8babc;
border-radius:10px;
box-shadow:1px 1px 1px 1px #666;
display: inline-block;
 margin-top:10px;
background-color: aliceblue;
}
.mex2{
color:black;
font-weight:normal;

width:90px;
height:25px;
border:solid 0.5px #b8babc;
border-radius:10px;
box-shadow:1px 1px 1px 1px #666;
display: inline-block;
    margin-left: 30px;
    margin-top:10px;	
    background-color: aliceblue;
}
.mex3{
color:black;
font-weight:normal;

width:90px;
height:25px;
border:solid 0.5px #b8babc;
border-radius:10px;
box-shadow:1px 1px 1px 1px #666;
display: inline-block;
    margin-left: 30px;	
    margin-top:10px;
    background-color:aliceblue;
}
.body1{
	display: flex;
}
.ball11{
	display: inline-block;
	margin-top: 34px;
	margin-left: 20px;
}
.ball12{
	display: inline-block;
	margin-top: 20px;
}
.ball13{
	display: inline-block;
	margin-top:55px;
}





.img11{
	display: inline-block;
	text-align: left;
	width: 200px;
	margin-left: 40px;
	margin-top: 23px;
	
}
.img12{
	display: inline-block;
	text-align: center;
	width: 150px;
	margin-left: 200px;
	margin-top: 15px;
	
}
.img13{
	display: inline-block;
	text-align: right;
	width: 150px;
	margin-left: 180px;
	
}

.titel11{
	display: inline-block;
  margin-left: 20px;
}
.titel12{
	display: inline-block;

  margin-left:178px;
  
}
.titel13{
	display: inline-block;
  margin-left: 200px;
}


.preis11{
	display: inline-block;
 margin-left: 80px;
	color: red;
	
}
.preis12{
	display: inline-block;
 margin-left: 80px;
	color: red;

	margin-left: 240px;
	
}
.preis13{
	display: inline-block;
 margin-left: 80px;
	color: red;
	margin-bottom: 200px;
	 margin-left: 250px;
}


.body2{
	display: flex;
}
.ball21{
	display: inline-block;
	width: 48%;
}
.img21{
	display: inline-block;
	text-align: left;
	width: 30%;
	margin-left: 40px;
	
}
.titel21{
	display: inline-block;
  margin-left: 20px;
}
.preis21{
	display: inline-block;
 margin-left: 80px;
	color: red;

}


.ball22{
	display: inline-block;
	margin-right: 30px;
	width: 25%;

}
.img22{
	display: inline-block;
	text-align: center;
	width: 190px;
	margin-right:50px; 
	
}
.titel22{
	display: inline-block;
 
}
.preis22{
	display: inline-block;
margin-left:50px;
	color: red;

}

.ball23{
	display: inline-block;
	
}
.img23{
	display: inline-block;
	text-align: right;
	width: 180px;
	margin-left: 40px;
	
}
.titel23{
	display: inline-block;
  
}
.preis23{
	display: inline-block;
 margin-left: 80px;
	color: red;
	margin-bottom: 200px;
}


.body3{
	display: flex;
}
.ball31{
	display: inline-block;
	
	margin-top: 25px;
}
.img31{
	display: inline-block;
	text-align: left;
	width: 250px;
	margin-left: 40px;
	
}
.titel31{
	display: inline-block;
  margin-left: 30px;
}
.preis31{
	display: inline-block;
 margin-left: 90px;
	color: red;
	
}


.ball32{
	display: inline-block;
	margin-left: 120px;;
	margin-top: 40px;

}
.img32{
	display: inline-block;
	text-align: center;
	width: 280px;
	
	
}
.titel32{
	display: inline-block;
	margin-left: 40px;
 
}
.preis32{
	display: inline-block;
margin-left:70px;
	color: red;
	
}

.ball33{
	display: inline-block;
margin-top: -20px;

}
.img33{
	display: inline-block;
	text-align: right;
	width: 240px;
	margin-left: 80px;
	
}
.titel33{
	display: inline-block;
  margin-left: 130px;
  margin-top: -20px;
}
.preis33{
	display: inline-block;
 margin-left: 150px;
	color: red;
	 margin-top: -20px;
}

body {
	margin: 20px;
}

.cool{
	background-color: #d3f4fb;  
	border: solid 2px #bbbbbb ; 
	position: relative ; 
	font-size: 18px ; 
	padding: 20px ; 
	
	
	 
}

.btn {
	position: relative;
	background-color: #9c9c9c ; 
	border: solid 1px ; 
	padding: 15px 32px;
	text-align: center ; 
}

img {
	
	max-width: 150px;
	/*margin-left: 600px; */
	border: solid ; 
	background-color: white;
	position: relative;
	left: 500px ; 
	
}

.buttons {
	
	position: relative;
	left: 300px ; 
	top: 200px ; 
	
}
