@charset "ISO-8859-1";
*.header{
	
	display: flex;
	height: 45px;
	width: 100%;
	background-color: aliceblue;
}
.header-recht{
	width: 60%;
    display: inline-block;
}


.hed{
	display:flex;
	margin-top: 10px;
}
a{
	text-decoration: none;
	color:black;
	
}
.a0{
	text-decoration: none;
	color:red;
	
}
.a1{
	text-decoration: none;
	color:black;
	margin-left: 10px;
}
.a2{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a3{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a5{
	

	margin-top: 10px;
	margin-left: 900px;
}

.a6{
	
	
	margin-top: 10px;

margin-left: 20px;
}
body {
	margin: 0 auto;
	
}

.body1{
	display: flex;
}
.Ball11{
	width: 33%;
	margin-left: 60px;
	margin-top: 40px;
}
.titel11{
margin-left: -50px;	
}
.preis11{
	margin-left: 30px;
		margin-top: -10px;
		color:red;
}

.Ball12{
	width: 33%;
	margin-left:10px;
	margin-top: 40px;
}
.titel12{
	margin-left: -30px;
}
.preis12{
	
		color:red;
		margin-top: -10px;
	
		margin-left: 45px;
}

.Ball13{
	width: 34%;
	margin-left: 20px;
	margin-top: 38px;
	
}
.titel13{
	margin-left: -20px;
}
.preis13{
	
		color:red;
		margin-top: -15px;
	margin-left: 45px;
	
}
.body2{
	display: flex;
}
.Ball21{
	width: 33%;
	margin-left: 40px;
	margin-top: 40px;
}
.titel21{
	margin-left: -30px;
}
.preis21{
	margin-left: 35px;
		margin-top: -10px;
		color:red;
}

.Ball22{
	width: 33%;
	margin-left:50px;
	margin-top: 40px;
}
.titel22{
	margin-left: -30px;
}
.preis22{
	
		color:red;
		margin-top: -10px;
	
		margin-left: 40px;
}

.Ball23{
	width: 34%;
	margin-left: 70px;
	margin-top: 38px;
	
}
.titel23{
	margin-left: -25px;
}
.preis23{
	
		color:red;
		margin-top: -10px;
	margin-left: 40px;
	
}
.body3{
	display: flex;
}
.Ball31{
	width: 33%;
	margin-left: 50px;
	margin-top: 40px;
}
.titel31{
	margin-left: -30px;
}
.preis31{
	margin-left: 40px;
		margin-top: -10px;
		color:red;
}

.Ball32{
	width: 33%;
	margin-left:30px;
	margin-top: 40px;
}
.titel32{
	margin-left: -20px;
}
.preis32{
	
		color:red;
		margin-top: -10px;
	
		margin-left: 40px;
}

.Ball33{
	width: 34%;
	margin-left: 50px;
	margin-top: 37px;
	
}
.titel33{
	margin-left: -30px;
}
.preis33{
	
		color:red;
		margin-top: -10px;
	margin-left: 42px;
	
}


img{
	width:15%;
	margin:10px;
	max-width:55%; 
	max-height:20%; 
	text-align:center; 
}

.cool{

	background-color: aliceblue;
	 width: 110%;
}
.bild{
	margin-left: 200px;
	margin-top: -50px;
	
}

.titel{
	margin-left: 600px;
margin-top: 30px;
font-family:inherit;
}
.btn{
	margin-left: 600px;
	margin-top: 40px;
	border:none;
	color:white;
	background-color: black;
	width: 200px;
	height: 40px;
	font-family:arial;
}
.btn1{
	margin-left: 600px;
	margin-top: 30px;
	border:none;
	color:white;
	background-color: gray;
	width: 200px;
	height: 40px;
	font-family:arial;
}
.b{
	margin-left: 600px;
	margin-top: -160px;
	color:red;
}