@charset "ISO-8859-1";

*.header{
	
	display: flex;
	height: 45px;
	width: 100%;
	background-color: aliceblue;
}

.header-recht{
	width: 60%;
    display: inline-block;
}


.hed{
	display:flex;
	margin-top: 10px;
}
a{
	text-decoration: none;
	color:black;
	
}
.a0{
	text-decoration: none;
	color:red;
	
}
.a1{
	text-decoration: none;
	color:black;
	margin-left: 10px;
}
.a2{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a3{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a5{
	

	margin-top: 10px;
	margin-left: 900px;
}

.a6{
	
	
	margin-top: 10px;

margin-left: 20px;
}
body {
	margin: 0 auto;
	 background-image: url("../ImgBackground/UBildK.jpg");
	 background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.body{
   display:flex;
    width: 100%;
   
}
.menu{
	
}
.button1{
	width: 400px;
	height: 80px;
	background-color:aliceblue;
	margin-top: 50px;
	margin-left: 400px;
		border:double;
}
.button2{
	width: 400px;
	height: 80px;
	background-color:aliceblue;
	margin-top: 30px;
	margin-left: 400px;
		border:double;
	 
}
.button3{
	width: 400px;
	height: 80px;
	background-color:aliceblue;
	margin-top: 30px;
	margin-left: 400px;
	 	border:double;
}
.button4{
	width: 400px;
	height: 80px;
	background-color:aliceblue;
	margin-top: 30px;
	margin-left: 400px;
	 
}
