@charset "ISO-8859-1";
*.header{
	
	display: flex;
	height: 45px;
	width: 100%;
	background-color: aliceblue;
}

.header-recht{
	width: 60%;
    display: inline-block;
}

.header-mitte{
	
    text-align: right;
    width: 30%;
    display: inline-block;
    margin-left: 350px;
    margin-top: 10px;
  
}

.header-links{
  display: inline-block;
    width: 10%;
    margin-left:30px;
    margin-top: 10px;
}
.hed{
	display:flex;
	margin-top: 10px;
}
a{
	text-decoration: none;
	color:black;
	
}
.a0{
	text-decoration: none;
	color:red;
	
}
.a1{
	text-decoration: none;
	color:black;
	margin-left: 10px;
}
.a2{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a3{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
body {
	margin: 0 auto;
	
}
.body{
   
    width: 100%;
    
}


.body1{
	display: flex;
}
.schuhe11{
	width: 33%;
	margin-left: 60px;
	margin-top: 40px;
}
.titel11{
	margin-left: -30px;
}
.preis11{
	margin-left: 30px;
		margin-top: -10px;
		color:red;
}

.schuhe12{
	width: 33%;
margin-left:60px;
	margin-top: 40px;
}

.titel12{
	margin-left: 10px;
}
.preis12{
	
		color:red;
		margin-top: -10px;
	
		margin-left: 40px;
}

.schuhe13{
	width: 34%;
	
	margin-top: 30px;
	
}
.preis13{
	
		color:red;
		margin-top: -10px;
	margin-left: 55px;
	
}

.body2{
	display: flex;
}
.schuhe21{
	width: 33%;
	margin-left: 60px;
	margin-top: 40px;
}
.titel21{
	margin-left: -10px;
}
.preis21{
	margin-left: 50px;
		margin-top: -10px;
		color:red;
}

.schuhe22{
	width: 33%;

	margin-top: 40px;
}

.preis22{
	
		color:red;
		margin-top: -10px;
	
		margin-left: 60px;
}

.schuhe23{
	width: 34%;
	margin-left:20px;
	margin-top: 40px;
	
}
.titel23{
	margin-left: 30px;
}
.preis23{
	
		color:red;
		margin-top: -10px;
	margin-left: 60px;
	
}
	
	
	.body3{
	display: flex;
}
.schuhe31{
	width: 33%;
	margin-left: 60px;
	margin-top: 45px;
}
.titel31{
	margin-left: 10px;
}
.preis31{
	margin-left: 40px;
		margin-top: -10px;
		color:red;
}

.schuhe32{
	width: 33%;

	margin-top: 40px;
}

.preis32{
	
		color:red;
		margin-top: -10px;
	
		margin-left: 60px;
}

.schuhe33{
	width: 34%;
	
	margin-top: 30px;
	
}
.preis33{
	
		color:red;
		margin-top: -10px;
	margin-left: 50px;
	huhe
	
}

.body4{ 
	display:flex;
	margin-top: 80px;
	margin-left: 420px;
}
img{
	width:40%;
	margin:10px;
	max-width:55%; 
	max-height:20%; 
	text-align:center; 
}
.next{
	
	color:red;

	
}
