@charset "ISO-8859-1";
*.header{
	
	display: flex;
	height: 45px;
	width: 100%;
	background-color: aliceblue;
}
.header-recht{
	width: 60%;
    display: inline-block;
}

.header-mitte{
	
    text-align: right;
    width: 30%;
    display: inline-block;
    margin-left: 350px;
    margin-top: 10px;
  
}

.header-links{
  display: inline-block;
    width: 10%;
    margin-left:30px;
    margin-top: 10px;
}
.hed{
	display:flex;
	margin-top: 10px;
}

.a0{
	text-decoration: none;
	color:red;
	margin-left: 10px;
}
.a1{
	text-decoration: none;
	color:black;
	margin-left: 10px;
}
.a2{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a3{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
}

body {
	margin:0 auto;
	background-image: url(../ImgBackground/Background.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img{
	width:40%;
	margin:10px;
	max-width:55%; 
	max-height:20%; 
	text-align:center; 
}
.titel{
	margin-top: 20px;
	
	margin-left:500px; 
}
.b{ 
	border:double;
	width: 450px;
	height: 210px;
	margin-left:400px;
	margin-top: 20px;
}
.check{
	
	color:black;
	width:20px;
	height: 20px;
	margin-top: 20px;
	margin-left: 10px;
}
.p{margin-top:-20px;
	margin-left: 40px;
	
}
.mail{
	height: 30px;
	width: 300px;
	margin-left: 25px;
}
.name{
	height: 30px;
	width: 300px;
	margin-left: 5px;
}
.reg{
color:white;
background-color: black;
border:none;
height: 50px;
width: 300px;
margin-left: 65px;	
}
.pass{
	height: 30px;
	width: 300px;
	margin-left: 10px;
}
.u{
margin-left:400px;	

}
.m{
margin-left:400px;
margin-top: 20px;	
}
.pa{
margin-left:400px;
margin-top: 20px;	
}
.r{
margin-left:400px;
margin-top: 20px;	
}
.d{
	display:flex;
	margin-top:20px;
	margin-left: 450px;
}
.left{
	color:red;
}
.right{
	color: black
	;
	text-decoration: underline;
}
.agb{
	color: green;
}
.menu{
	background-image: url(../ImgBackground/Background.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
