@charset "ISO-8859-1";

*.header{
	
	display: flex;
	height: 45px;
	width: 100%;
	background-color: aliceblue;
}

.header-recht{
	width: 60%;
    display: inline-block;
}

.header-mitte{
	
    text-align: right;
    width: 30%;
    display: inline-block;
    margin-right: 44px;
    margin-top: 10px;
  
}

.header-links{
  display: inline-block;
    width: 10%;
    margin-right: 20px;
    margin-top: 10px;
}

.menu{
	min-height: calc(100vh - 90px);
  
    
	   
}

.body{
    display: flex;
    width: 100%;
}


body{
	margin: 0 auto;
	 background-image:url("../ImgBackground/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img{
	width:100%;
	margin:10px;
	max-width:20%; 
	max-height:20%; 
	text-align:center; 
}

.hed{
	display:flex;
	margin-top: 10px;
}
*.mix{
color:black;
font-weight:normal;
padding:10px;
width:90px;
height:22px;
border:solid 0.5px #b8babc;
border-radius:10px;


}

.erstes_H{
	margin-left: 125px;
    margin-top: 35px;
}

.footer{
	height: 75px;
	background-color: aliceblue;
}
.footer1{
display: flex;

}
.footer2{

display: flex;
  
   	
}
.footer3{
margin-top:-40px;
display: inline-block;
  margin-left: 1000px;
 
    	
}


.img1{

    margin-right:250px;
	 background:url("../ImgBackground/Ball.jpg") no-repeat;
	 margin-top: 86px;
    background-size: cover;
    background-position: center;
	margin: auto;
width:400px;
    height: 110px;
 display: flex;
    align-items: center;
        margin-top: 65px;
        
	
}
.fussbälle{
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: aliceblue;
}
.img2{

    margin-right:250px;
	 background:url("../ImgBackground/Schuhe.jpg") no-repeat;
	 margin-top: 86px;
    background-size: cover;
    background-position: center;
	margin: auto;
width:400px;
    height: 110px;
 display: flex;
    align-items: center;
        margin-top: 35px;
	
}
.Schuhe{
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: aliceblue;
}

.img3{

    margin-right:250px;
	 background:url("../ImgBackground/Trikot.jpg") no-repeat;
	 margin-top: 86px;
    background-size: cover;
    background-position: center;
	margin: auto;
width:400px;
    height: 110px;
 display: flex;
    align-items: center;
        margin-top: 35px;
	
}
.Trikot{
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: aliceblue;
}
a{
	text-decoration: none;
	color:black;

}
.a1{
	text-decoration: none;
	color:black;
	margin-left: 20px;
}
.a2{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a3{
	text-decoration: none;
	color:black;
	margin-left: 10px;
	
}
.a4{
	
margin-left:400px;
	
	
	
}
.a5{
	

	margin-top: 15px;
	margin-left:-140px;
}

.a6{
	
	
	margin-top: 15px;

margin-left: 20px;
}



.Warbu{

	
	width:10%;
	margin:10px;
	max-width:55%; 
	max-height:20%; 
	text-align:center; 
	
}
.hed2{
	margin-left:300px;
	display: flex;
}
.link{
	color:orange;
}
.footer11{
	margin-left: 300px;
}
.footer21{
	margin-left: 220px;
}
.titel{
	display:flex;
	color:red;
}
.bu{
	background-color: gray;
	border:double;
	width:200px;
	height:30px;
	
	
}